{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <!-- <h2>Acá podrás cargar los datos de tu celular usado para vender!</h2> -->

    <body>
        {% if miFormulario.errors %}
    
        <p style="color:red">Están mal los datos, revisar.</p>
    
        {% endif %}
    
         <form action="agregarProducto" method="POST" class="d-flex justify-content-center" > {% csrf_token  %}
    
            <!-- <p>Celular: <input type="text" name="nombre"></p>
            <p>Precio: <input type="number" name="precio"></p> -->
            <div class="card border-primary m-3"  style="width: 500px;">
                <h2 class="card-header text-primary fw-bold m-3">Cargá los datos de tu celu!</h2>
                <table class="d-flex justify-content-center">
    
                    <div class="m-2"> {{ miFormulario.as_table }} </div>
        
                </table>
        
                <input class="btn btn-primary m-2" type="submit" value="Publicar celular">
            </div>
            <!-- <table>
    
                {{ miFormulario.as_table }}
    
            </table>
    
            <input class="btn btn-warning" type="submit" value="Enviar"> -->
    
        </form>
    </body>

{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgregarProducto</title>
</head>
<body>
    {% if miFormulario.errors %}

    <p style="color:red">Están mal los datos, revisar.</p>

    {% endif %}

     <form action="agregarProducto" method="POST"> {% csrf_token  %} -->

        <!-- <p>Celular: <input type="text" name="nombre"></p>
        <p>Precio: <input type="number" name="precio"></p> -->
        

        <!-- <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit" value="Enviar">

    </form>
</body>
</html> -->