{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <body>
        {% if miFormulario.errors %}
    
        <p style="color:red">Están mal los datos, revisar.</p>
    
        {% endif %}
    
         <form action="crearUsuario" class="formulario" method="POST"> {% csrf_token  %}
    
            <h1 class=" d-flex fs-4 justify-content-center align-items-center mt-3">¡Creá tu usuario!<i class="bi bi-person-add ms-1"></i></h1>
            
            <hr>
    
            <table class="d-flex justify-content-center align-items-center m-5">
    
                {{ miFormulario.as_table }}
    
            </table>
            <div class="mx-5 my-3 ">
                <input class="btn border border-primary" type="submit" value="Registrarme">
            </div>
            
    
        </form>
    </body>

    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        form {
            border: 3px solid rgb(68, 0, 153);
            
        }
        h1 {
            color: rgb(68, 0, 153);
            font-weight: bolder;
            margin-bottom: 40px;
        }
        
        input[type=text], input[type=password], input[type= number], input[type= email] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
          border-radius: 10px;
        }
        
        input[type= submit] {
          background-image: linear-gradient(-90deg, rgb(211, 0, 152), rgb(68, 0, 153));
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
        }
        
        input[type= submit] {
          opacity: 0.8;
        }
        
        .cancelbtn {
          width: auto;
          padding: 10px 18px;
          background-color: #f44336;
        }
        
        .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
        }
        
        img.avatar {
          width: 40%;
          border-radius: 50%;
        }
        
        .container {
          padding: 10px;
        }
        
        span.psw {
          float: right;
          padding-top: 16px;
        }
        label {
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            color: rgb(68, 0, 153);
        }
        
        .formulario {
            margin: 10px 250px 250px 250px;
        }
        
        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
          span.psw {
             display: block;
             float: none;
          }
          .cancelbtn {
             width: 100%;
          }
        }
        </style>
{% endblock %}
