{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h2>lista de celulares en venta</h2>

<div class="container text-center">
    <h1>Celulares en Venta</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
        
    </div>
        {% for producto in productos %}
        <li> {{producto}}</li>
        <button>
            <a href="{% url 'EliminarProducto' producto.nombre %}">Eliminar</a>
            <a href="{% url 'EditarProducto' producto.nombre %}">Editar</a>
        </button>
        {% endfor %}
        <a href="productos">Agregar producto</a>
    </div>
{% endblock %}

<!-- --------------------------------------------------------------------------------------------- -->